```
# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

#other
voices/
backup/
it_IT-paola-medium.onnx
it_IT-paola-medium.onnx.json
it_IT-riccardo-x_low.onnx
it_IT-riccardo-x_low.onnx.json
credentials.h
test.html
uvicorn

```